body {
  background-color: darkblue;
}
.kanban {
  display: flex;
}

.column {
  flex-grow: 1;
  border: solid;
  text-align: center;
  margin: 5px;
  padding-bottom: 50px;
}

.card {
  border: solid;
  border-color: darkblue;
  background-color: lightseagreen;
  padding: 10px;
  margin: 10px;
}

.myClass {
  text-align: center;
  background-color: antiquewhite;
}
